.cartWrapper {
  max-width: 800px;
  margin: 20vh auto;
  padding: 20px;
}
.cartTitle {
  margin-bottom: 30px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  padding: 30px 20px;
  border-bottom: 2px solid #eee;
}
.itemDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.imageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.title {
  font-size: 15px;
  font-weight: 500;
  max-width: 250px;
  margin-bottom: 10px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemQuantity {
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.quantity button {
  width: 20px;
  height: 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: white;
}
.price {
  font-size: 18px;
  font-weight: 500;
}
.removeBtn {
  border: none;
  border-radius: 15px;
  padding: 8px 10px;
  background-color: #fec5c5;
  color: red;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.removeBtn:hover {
  transform: scale(1.05);
}
.removeBtn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/6861/6861362.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.totalPriceContainer {
  margin-top: 40px;
  padding: 24px 28px;
  background: linear-gradient(135deg, #cfd7f4, #4675f8);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.totalTitle {
  font-size: 22px;
  font-weight: 700;
  color: #111827;
  text-align: center;
}
.priceAndQuantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 12px;
}

.totalQuantity,
.totalPrice {
  font-size: 17px;
  font-weight: 600;
  color: #020b20;
  padding: 10px;
}
.wrapper {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #063eae;
  box-shadow: 0px 4px 10px #020b20;
}

@media (max-width: 480px) {
  .cartItem {
    flex-direction: column;
    justify-content: center;
  }
  .imageWrapper,
  .itemDetails {
    flex-direction: column;
  }
  .cartTitle,
  .title {
    text-align: center;
  }
}
