.cartWrapper {
  max-width: 800px;
  margin: 20vh auto;
  padding: 20px;
}
.cartTitle {
  margin-bottom: 30px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  padding: 30px 20px;
  border-bottom: 2px solid #eee;
}
.itemDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.imageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.title {
  font-size: 15px;
  font-weight: 500;
  max-width: 250px;
  margin-bottom: 10px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemQuantity {
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.quantity button {
  width: 20px;
  height: 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: white;
}
.price {
  font-size: 18px;
  font-weight: 500;
}
.removeBtn {
  border: none;
  background-color: #fff;
}

@media (max-width: 480px) {
  .cartItem {
    flex-direction: column;
    justify-content: center;
  }
  .imageWrapper,
  .itemDetails {
    flex-direction: column;
  }
  .cartTitle,
  .title {
    text-align: center;
  }
}
