.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #002ac2;
  padding: 16px;
}
.footerContainer {
  display: flex;
  gap: 20px;
}
.footerLink,
.footer p {
  font-size: 1.2vw;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.893);
  padding: 10px;
  border-radius: 14px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.footerLink:hover {
  transform: scale(1.05);
  background-color: white;
}
