.detailsWrapper {
  margin-top: 15vh;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.detailsCard {
  display: flex;
  gap: 40px;
  max-width: 900px;
  width: 100%;
  background: white;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  object-fit: contain;
}
.infoWrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.category {
  font-size: 14px;
  color: gray;
  text-transform: capitalize;
}
.description {
  font-size: 16px;
  color: #333;
}
.priceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.price {
  font-size: 26px;
  font-weight: bold;
  color: #002ac2;
}
.rating {
  font-size: 16px;
}
.count {
  margin-left: 6px;
  color: gray;
}
